body {
    width: auto;
    /* padding: 10px 10px; */
    font-family: Raleway, sans-serif;
    font-size: 16px;
    background: #F5F5F5;
}

/*HEADER*/
body .topo {
    position: relative;
    margin: 0 auto;
    height: 467px;
    background: #FFFFFF
}

.topo .barra-pesquisa {
         position: relative; 

    width: 1136px;
    left: auto;
    right: auto;
    height: 115px;
    margin: 0 auto;
}

.barra-pesquisa .logo {
    margin: 32px 0;
}

.barra-pesquisa .pesquisa {
    padding: 0;
    position: absolute;
    top: 38px;
    left: 360px;
    font-size: 14px;
    text-indent: 30px;
    width: 393px;
    height: 40px;
    border: transparent;
    border-radius: 20px;
    background: #F5F5F5;
}

.barra-pesquisa .img-lupa {
    position: absolute;
    top: 50px;
    left: 710px;
    background: transparent;
}

.barra-pesquisa .img-lupaMobile {
    display: none;
    float: right;
    margin: 27px 16px 0 0;
}

.barra-pesquisa .btn-login {
    padding: 0;
    float: right;
    width: 182px;
    height: 51px;
    border: transparent;
    border: 1px solid #2a7ae4;
    color: #2a7ae4;
    font-size: 16px;
    margin-top: 32px;
}

.banner-promo {
    position: relative;
    margin: 0 auto;
    width: 1440px;
}

.banner-promo img {
    position: relative;
    display: block;
    margin: 0 auto;    
}

.banner-promo h1 {
    position: absolute;
    top: 155px;
    /*margin-left: 138px;*/
    left: 138px;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.banner-promo h2 {
    position: absolute;
    top: 223px;
    left: 138px;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;   
}

.banner-promo .btn-ver-consoles {
    position: absolute;
    top: 265px;
    left: 138px;
    width: 130px;
    height: 51px;
    padding: 0;
    font-size: 16px;
    border: transparent;
    background: #2A7AE4;
}

.banner-promo a {
    text-decoration: none;
    color: #FFFFFF;
}

/*MAIN*/
.secao .cabecalho {
    height: 38px;
    width: 1133px;
    margin: 64px auto 16px auto;
}

.cabecalho h2 {
    display: inline;
    position: relative;
    top: 3px;
    font-size: 32px;
    font-weight: bold;
    color: #464646;
}

.cabecalho .btn-ver-tudo {
    float: right;
    width: 98px;
    height: 24px;
    margin-top: 7px;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    border: transparent;
    background: transparent;
    padding: 0;
}

/*PESSOAL**********************/
.cabecalho .btn-ver-tudo:hover {
    text-decoration: underline;
}
/******************************/

.btn-ver-tudo img {
    position: relative;
    top: 2px;
    float: right;
}

.secao a {
    text-decoration: none;
    color: #2a7ae4;

}

.secao .linha-produto {
    width: 1133px;
    margin: 0 auto;
}

.linha-produto #produto1 {
    margin-left: 0;
}

.linha-produto .produto {
    position: relative;
    display: inline-block;
    width: 176px;
    height: 252px;
    margin-left: 10px;
}

.produto .p {
    width: 176px;
    color: #464646;
}
.produto .id-produto {
    position: absolute;
    top: 182px;
    height: 16px;
    font-size: 14px;
}

.produto .valor {
    position: absolute;
    top: 206px;
    height: 19px;
    font-size: 16;
    font-weight: bold;
}

.produto .btn-ver-produto {
    position: absolute;
    top: 233px;
    left: 0;
    height: 19px;
    border: transparent;
}

.produto a {
    color: #2A7AE4;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

/*PESSOAL**********************/
.produto a:hover {
    text-decoration: underline;
}
/******************************/

/*FOOTER*/
footer .rodape {
    position: relative;
    width: auto;
    height: 368px;
    margin: 64px auto 0 auto;
    background: #eaf2fd;
}

.rodape .contato {
    position: relative;
    /* display: inline-block; */
    width: 1440px;
    margin: 0 auto;
    /* position: absolute;
    left: 152px; */
    height: 368px;
}

.contato img {
    margin-top: 64px;
}

.contato .links-internos {
    position: absolute;
    top: 64px;
    left: 288px;
    display: grid;
    align-content: space-between;
    width: 176px;
    height: 234px;
    font-size: 16px;
}

.links-internos a {
    text-decoration: none;
    color: #464646;
}
/*PESSOAL**********************/
.links-internos a:hover {
    color: #2a7ae4;
    text-decoration: underline;
}
/******************************/

.contato .fale-conosco {
    position: absolute;
    top: 64px;
    left: 576px;
    width: 560px;
    height: 240px;
}

.fale-conosco p {
    font-size: 16px;
    font-weight: bold;
    color: #464646;
}

.fale-conosco .grupo-nome {
    position: absolute;
    top: 27px;
    width: 560px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    border-bottom: 1px solid #c8c8c8;
}

.fale-conosco .label-identificacao {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 536px;
    height: 16px;
    font-size: 12px;
    font-weight: 100;
    color: #a2a2a2;
    display: flex;
    align-items: center;
}

.fale-conosco .entrada-info {
    position: absolute;
    top: 28px;
    left: 12px;
    width: 536px;
    height: 20px;
    background: transparent;
    border: transparent;
    outline: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    color: #464646;
}

.fale-conosco .grupo-msg{
    position: absolute;
    top: 99px;
    width: 560px;
    height: 82px;
    background: #FFFFFF;
    border-radius: 4px;
    border-bottom: 1px solid #c8c8c8;
}

.grupo-msg #label-msg {
    font-size: 16px;
}

.grupo-msg #textarea-msg {
    height: 45px;
    resize: none;
} 

.fale-conosco .submit-enviar {
    position: absolute;
    top: 189px;
    width: 165px;
    height: 51px;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    background: #2a7ae4;
    border: transparent;
    padding: 0;
}

.fale-conosco #caracteres {
    margin: 175px 0 0 360px;
    display: flex;
}

footer .desenvolvedor {
    height: 102px;
    text-align: center;
}

.desenvolvedor p {
    display: inline-block;
    margin-top: 32px;
    width: 234px;
    height: 38px;
    color: #464646;
    font-size: 16px;
}