body {
    width: 1440px;
    padding: 10px 10px;
    font-family: Releway, sans-serif;
    font-size: 16px;
    background: #F5F5F5;
}

body .topo {
    position: relative;
    margin: 0 auto;
    height: 467px;
    background: #FFFFFF
}

.topo .barra-pesquisa {
    width: 1136px;
    height: 115px;
    margin: 0 auto;
}

.barra-pesquisa .logo {
    margin: 32px 0;
}

.barra-pesquisa .pesquisa {
    position: absolute;
    top: 38px;
    left: 360px;
    font-size: 14px;
    text-indent: 30px;
    width: 393px;
    height: 40px;
    border: transparent;
    border-radius: 20px;
    background: #F5F5F5;
}

.barra-pesquisa .img-lupa {
    position: absolute;
    top: 50px;
    left: 710px;
    background: transparent;
}

.barra-pesquisa button {
    float: right;
    width: 182px;
    height: 51px;
    border: transparent;
    border: 1px solid #2a7ae4;
    color: #2a7ae4;
    font-size: 16px;
    margin-top: 32px;
}

.banner-promo {
    position: relative;
}

.banner-promo img {
    display: block;
    margin: 0 auto;    
}

.banner-promo h1 {
    position: absolute;
    top: 155px;
    left: 138px;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.banner-promo h2 {
    position: absolute;
    top: 223px;
    left: 138px;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;   
}

.banner-promo button {
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    left: 138px;
    top: 265px;
    border: transparent;
    background: #2A7AE4;
    width: 130px;
    height: 51px;
}
/* __________________________________________________ */

main {
    /* background: #F5F5F5; */
}

#secao .cabecalho {
    height: 38px;
    width: 1133px;
    margin: 64px auto 16px auto;
}

.cabecalho h2 {
    display: inline;
    position: relative;
    top: 3px;
    font-size: 32px;
    font-weight: bold;
    color: #464646;
}

.cabecalho button {
    float: right;
    width: 98px;
    height: 24px;
    margin-top: 7px;
    display: inline;
    color: #2a7ae4;
    font-size: 16px;
    font-weight: bold;
    border: transparent;
    background: transparent;
    padding: 0;
}

button img {
    position: relative;
    top: 2px;
    float: right;
}

#secao .linha-produto {
    width: 1133px;
    margin: 0 auto;
}

.linha-produto #retorno {
    margin-left: 0;
}

.linha-produto .produto {
    position: relative;
    display: inline-block;
    width: 176px;
    height: 252px;
    margin-left: 10px;
}

.produto .p {
    width: 176px;
    color: #464646;
}
.produto .id-produto {
    position: absolute;
    top: 182px;
    height: 16px;
    font-size: 14px;
}

.produto .valor {
    position: absolute;
    top: 206px;
    height: 19px;
    font-size: 16;
    font-weight: bold;
}

.produto a {
    position: absolute;
    top: 233px;
    left: 0;
    color: #2A7AE4;
    height: 19px;
    font-weight: bold;
    text-decoration: none;
}




